*{
    box-sizing: border-box; 
    font-family: 'Noto Serif', serif;
  }

body{
    margin:0 auto;
    background-color:#1d2731;
    filter: brightness(110%);
    filter: saturate(150%);
}


h1{padding-bottom: 10px;}
h2{font-size: 1.3em;}
h3{color: #d9b310 ;font-weight: bold;}
h4{color:#1d2731;}
h6{color:#0b3c5d;}


.container{
    /*max-width: 1000px;*/
    margin: 0 auto;
}

/*HEADER*/

header{
    background-color:  #d9b310/* rgb(209, 194, 29);*/
}

#perfil, .tituloPersonal{
    text-align: center;
}
#fotoPerfil{
    padding-top: 10px;
    width:200px;
    border-radius: 60%;    
    opacity: 85%;
}

/*SECTION INFOPERSONAL*/



.objetivo p{
    text-align: justify;
    font-size: 1em;
    margin: 2em 4em;
    color: whitesmoke;    
}

.tituloPersonal{
    margin: 20px auto;
}

.tituloPersonal h2{
    color:#d9b310;
    text-decoration: underline;
    text-align: center;
}

.tituloPersonal p{
    margin:20px auto;
    width: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.tituloPersonal button{
    margin: 10px 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 0.75em;
    cursor: pointer;
    background-color: #d9b310;    
}

#numeroTel, #email, #domicilio{
    display: none;
    color: whitesmoke;
    margin-bottom: 50px;
}


.tituloPersonal ul{
    text-align: left;
    list-style-type:square;
}

.tituloPersonal li{
    margin: 15px;
    padding: 15px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color:whitesmoke;
}


/*SECTION INFOCV*/

#infoCv{
    padding-bottom: 2em;
}

#infoCv button{
    margin: 10px auto;
    border-radius: 10px;
    background-color: #0b3c5d;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.contraer{
    border:2px solid whitesmoke;
}

#botonReplegar{
    display: none;
}

#infoCv p{
    font-size: 0.75em;
    margin-left: 10px;
    font-style: italic;
}


#experiencia, #formacion, #competencias{
    display: none;
    border: 2px solid black;
    margin: 5px;
    background-color: rgb(209, 194, 29);
    color:black;
    font-size: 1.2em;
    font-weight: bold;
}

#fotoFinal{
    width: 100%;
}


/*FOOTER*/

#redes{
    text-align: center;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #d9b310;
    padding:2% 0;
}

#redes a{
    margin: 1em 1em 0.3em;   
    cursor: pointer;
    color: whitesmoke;
}

#redes p{
   
    font-weight: bold;
}


/*Media queries*/

@media screen and (min-width:1000px){
    main{
        display: grid;
        grid-template-columns: 30% 70%;                
    }

    #perfil{
        display: grid;
        grid-template-columns: 50% 50%;        
    }

    #fotoPerfil{
        margin: 0 auto 20px;
    }
    h1{
        text-align: left;
        margin-top: 100px;
    }

    #botonReplegar{
        display: block;
    }
    
    #fotoFinal{
        display: block;
        width: 100%;
    }

}